body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('seina.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3 {
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    background: rgba(53, 66, 74, 0.9);
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.footer {
    background: rgba(53, 66, 74, 0.9);
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.button {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    background: #e8491d;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background: #c0392b;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

li {
    background: rgba(232, 73, 29, 0.9);
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
}

li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

li a:hover {
    color: #ffffff;
    background: #c0392b;
    border-radius: 5px;
}

.lyrics-box {
    background: #ffffff;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 25px;
    color: #333;
    margin: 20px auto;
    display: inline-block;
    text-align: left;
    white-space: pre-wrap;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    li {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    .lyrics-box {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    li {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .lyrics-box {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 18px;
    }
}